.TapContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.CoopStoreListContainer > span {
  font-size: 15px;
  font-weight: 600;
}
.CoopStoreList {
  margin-top: 5px;
  width: 303px;
  word-break: keep-all;
}
.SelectedStoreTag {
  display: inline-block;
  text-align: center;
  min-width: 80px;
  font-size: 13px;
  background-color: #386ffe;
  color: #ffffff;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 7px;
  padding: 0 5px;
}
.UnSelectedStoreTag {
  padding: 0 5px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  min-width: 80px;
  cursor: pointer;
  font-size: 13px;
  background-color: #a2a4aa;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 7px;
}
.EventContent {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.EventTitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.EventSubText {
  width: 303px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.StoreLocation {
  margin-top: 30px;
}
.StoreLocation > span {
  font-size: 15px;
  font-weight: 600;
}
.map {
  margin-top: 5px;
  width: 320px;
  height: 180px;
}
.PrivateEventSubText {
  width: 303px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PrivateEventContent {
  display: flex;
  flex-direction: column;
}
.StoreContainer {
  display: flex;
}
.StoreContentL {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
}
.StoreContentR {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 100px;
}
.StoreInfo {
  width: 303px;
  font-size: 13px;
}
.eventBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sendVerifyBtn {
  background-color: #386ffe;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}
.verifiedBtn {
  background-color: #646464;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin: 10px 0;
}

.VerifyForm {
  display: flex;
  justify-content: center;
}

.VerifyCodePopUp {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 40%;
  left: 8%;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgb(174, 174, 174);
  border: 1px solid #a2a4aa;
}

.VerifyInput {
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #a2a4aa;
  padding-left: 10px;
}

.VerifyCodeBtn {
  width: 40px;
  height: 33px;
  background-color: #386ffe;
  color: white;
  border-radius: 10px;
}
.ClosePopUpBtn {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: -20px;
}
