.StoreModal {
  background: white;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 338px;
  z-index: 12;
}
.StoreModalContent {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 112px;
  justify-content: center;
  align-items: center;
}
