<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ari.paran.dao.AuthMapper">

    <select id="userEmailCheck" resultType="int">
        SELECT COUNT(*) FROM USER WHERE EMAIL = #{email}
    </select>

    <insert id="signup">
        INSERT INTO USER (USERNAME, PASSWORD, EMAIL, NICKNAME, GENDER)
        VALUES (#{username}, #{password}, #{email}, #{nickname},#{gender} )
    </insert>

</mapper>