.logoContainer {
  width: 97px;
  height: 97px;
  background-image: url("../../public/images/ari_logo_text.png");
  background-size: cover;
  background-position: center;
  margin: 50px auto;
}

.login-inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-inputBox {
  width: 230px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 9px 14px;
  font-size: 16px;
}

.login-inputBox::placeholder {
  color: #a3a3a3;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 260px;
  height: 41px;
  border-style: initial;
  border-radius: 15px;
  color: #ffffff;
  margin-bottom: 10px;
  background: #386ffe;
  cursor: pointer;
  font-size: 18px;
}

.loginButton:disabled {
  background: #dcdcdc;
  cursor: default;
}

.login-subAlign {
  display: flex;
  justify-content: center;
}

.login-sub-menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 14px;
  color: #4e514f;
}
