.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-card {
  display: flex;
  align-items: center;
  width: 327px;
  height: 164px;
  background-color: #386ffe;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 31px;
}

.flex-align {
  display: flex;
  width: 327px;
  justify-content: space-between;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 81px;
  border: 1px solid #d2d2d2;
  border-radius: 25px;
  margin: 24px 0;
}

.mid-card {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 3px;
}

.sub-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 60px;
  border: 0.7px solid #d7d7d7;
  border-radius: 15px;
  margin-bottom: 12px;
}
