.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnership-write-intro {
  font-size: 16px;
  margin: 0;
}

.partnership-period-input {
  display: flex;
  align-items: center;
  width: 325px;
  height: 45px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 18px;
}

.partnership-period-input input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #868585;
}

.partnership-write-textarea {
  box-sizing: border-box;
  width: 325px;
  height: 330px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  font-family: "Work Sans";
  padding: 16px 0;
  outline: none;
  resize: none;
}

.partnership-period-input::placeholder,
.partnership-write-textarea::placeholder {
  color: #868585;
}

.partnership-rightBtn {
  float: right;
  font-size: 16px;
  color: #ffffff;
  background: #386ffe;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 24px;
}

.partnership-rightBtn:disabled {
  background-color: #dcdcdc;
}
