.intro {
  color: #3d3d3d;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 83px;
  margin-bottom: 65px;
}

.inputBox {
  width: 230px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 9px 14px;
}

.certificationInput {
  width: 142px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 9px 14px;
  margin-bottom: 21px;
}

.emailInput {
  width: 142px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 9px 14px;
}

.inputBox::placeholder,
.certificationInput::placeholder .emailInput::placeholder {
  color: #a3a3a3;
}

.inputBox::placeholder,
.certificationInput::placeholder {
  color: #a3a3a3;
}

.sendBtn {
  width: 76px;
  line-height: 41px;
  border-style: initial;
  border-radius: 5px;
  color: #ffffff;
  background: #386ffe;
  margin-bottom: 11px;
  margin-left: 12px;
  cursor: pointer;
}

.sendBtn:disabled {
  background-color: #dcdcdc;
  cursor: default;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
}

.select-age {
  width: 140px;
  height: 41px;
  color: #a3a3a3;
  appearance: none;
  background: url("../../public/images/selectArrow.png") calc(100% - 15px)
    center no-repeat;
  border-radius: 5px;
  padding: 9px 30px;
  border: 1px solid #dcdcdc;
}

.genderContainer {
  width: 260px;
  margin-top: 9px;
}

.gender-wrap {
  display: inline-flex;
  align-items: center;
}

.gender-wrap label {
  color: #a3a3a3;
  font-size: 14px;
  margin-right: 29px;
}

.gender-wrap input[type="radio"],
.gender-wrap input[type="radio"]:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin: 0;
  margin-right: 0.4rem;
}

.gender-wrap input[type="radio"] {
  background-color: #d9d9d9;
  border: 3px solid #d9d9d9;
}

.gender-wrap input[type="radio"]:checked {
  background-color: #386ffe;
}

.gender-wrap:first-child {
  margin-left: 10px;
}

.storeCertification {
  width: 230px;
}

.daumPost {
}

.searchAddress {
  width: 76px;
  line-height: 41px;
  border-style: initial;
  border-radius: 5px;
  color: #ffffff;
  background: #386ffe;
  margin-bottom: 11px;
  margin-left: 12px;
  cursor: pointer;
}

.detailAddress {
  margin-top: 10px;
}

.roadAddress {
  width: 142px;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #386ffe;
  margin-right: 5px;
}

.normal {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 5px;
}
