.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-list-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 60px;
  border: 0.7px solid #d7d7d7;
  border-radius: 15px;
  margin-bottom: 17px;
  cursor: pointer;
}

.event-text-ellipsis {
  width: 250px;
  padding-left: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 60px;
  border: 0.7px dashed #d7d7d7;
  border-radius: 15px;
  cursor: pointer;
}

.edit-store-tap {
  display: inline-block;
  line-height: 26px;
  font-size: 11px;
  border-radius: 20px;
  background-color: #c7c7ca;
  color: #ffffff;
  cursor: pointer;
  padding: 0 8px;
  margin: 8px 4px 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-store-tap-active {
  display: inline-block;
  line-height: 26px;
  font-size: 11px;
  border-radius: 20px;
  background-color: #386ffe;
  color: #ffffff;
  cursor: pointer;
  padding: 0 8px;
  margin: 8px 4px 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
