.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 43px;
}

.edit-intro {
  font-size: 19px;
  margin-bottom: 6px;
}

.edit-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 304px;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0;
}

.edit-input {
  width: 265px;
  border: none;
  outline: none;
  font-size: 16px;
}

.edit-input::placeholder {
  color: #4e514f;
}

.edit-buttonContainer {
  display: flex;
  justify-content: space-between;
}

.cancelBtn {
  width: 140px;
  height: 36px;
  color: #fbfbfb;
  background: #a3a3a3;
  border: 0.7px solid #d7d7d7;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 57px;
}

.editBtn {
  width: 140px;
  height: 36px;
  color: #fbfbfb;
  background: #386ffe;
  border: 0.7px solid #d7d7d7;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 57px;
}

.editBtn:disabled {
  background: #dcdcdc;
  cursor: default;
}

.uploadImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-right: 17px;
}

.edit-image {
  width: 63px;
  height: 63px;
  border-radius: 10px;
}

.delete-image {
  position: absolute;
  width: 14px;
  height: 14px;
  top: -3px;
  right: -3px;
  cursor: pointer;
}

.mainPick {
  position: absolute;
  width: 63px;
  height: 17px;
  background: #386ffe;
  border-radius: 0 0 10px 10px;
  bottom: 5px;
  left: 0;
  font-size: 8px;
  color: #ffffff;
  text-align: center;
  line-height: 17px;
}

.edit-store-tap {
  width: 96px;
  line-height: 26px;
  border-radius: 20px;
  background-color: #c7c7ca;
  color: #ffffff;
  cursor: pointer;
  margin: 8px 4px 0 4px;
}

.edit-store-tap-active {
  width: 96px;
  line-height: 26px;
  font-size: 11px;
  border-radius: 20px;
  background-color: #386ffe;
  color: #ffffff;
  cursor: pointer;
  margin: 8px 4px 0 4px;
}

.add-store-tap {
  width: 96px;
  line-height: 26px;
  font-size: 11px;
  border-radius: 20px;
  border: 0.7px dashed #c7c7ca;
  color: #ffffff;
  cursor: pointer;
  margin: 8px 4px 0 4px;
}
