.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 43px;
}

.edit-intro {
    font-size: 19px;
    margin-bottom: 6px;
}

.edit-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 304px;
    border-bottom: 1px solid #A3A3A3;
    padding: 5px 0;
}

.edit-input {
    width: 265px;
    border: none;
    outline: none;
    font-size: 16px;
}

.edit-input::placeholder {
    color: #4E514F;
}

.edit-buttonContainer {
    display: flex;
    justify-content: space-between;
}

.cancelBtn {
    width: 140px;
    height: 36px;
    color: #FBFBFB;
    background: #A3A3A3;
    border: 0.7px solid #D7D7D7;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 57px;
}

.editBtn {
    width: 140px;
    height: 36px;
    color: #FBFBFB;
    background: #386FFE;
    border: 0.7px solid #D7D7D7;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 57px;
}

.editBtn:disabled {
    background: #DCDCDC;
    cursor: default;
}

.uploadImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-right: 17px;
}

.edit-image {
    width: 63px;
    height: 63px;
    border-radius: 10px;
}

.delete-image {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -3px;
    right: -3px;
    cursor: pointer;
}

.mainPick {
    position: absolute;
    width: 63px;
    height: 17px;
    background: #386FFE;
    border-radius: 0 0 10px 10px;
    bottom: 5px;
    left: 0;
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
    line-height: 17px;
}