@import url("https://use.typekit.net/hso6euf.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/* WorkSans Font */

html,
#root,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

textarea,
input,
select {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkImage {
  filter: brightness(50%);
}

.side_btn {
  padding: 0;
  background-color: white;
  text-decoration: none;
  border: none;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 2px 2px gainsboro;
  z-index: 10;
}

.sidebar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;
  width: 285px;
  z-index: 99;
}

.slideAnimations {
  animation: 1s;
  animation-name: slide;
}
@keyframes slide {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0px;
  }
}

.loginRegisterBtn {
  display: flex;
  margin-top: 64px;
  width: 200px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  font-family: work-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 57px;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.rightBtn {
  position: absolute;
  right: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
